body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 400px;
    max-width: 100%;
    height: 400px;
    margin: auto;
}

